
<table class="table table-striped table-bordered table-hover inventory-lookup-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th id="price-header-display" scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {{#each inventories as |inventory|}}
    <tr data-product-id={{inventory.product.id}} data-inventory-id={{inventory.id}} data-product-name="{{inventory.product.name}}" data-toggle="modal" data-target="#update-inventory-modal">
      <th scope="row">{{inventory.id}}</th>
      <td>{{inventory.product.name}}</td>
      <td>${{inventory.price}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
