{{#each inventories as |inventory|}}
  <tr data-product-id={{inventory.product.id}} data-inventory-id={{inventory.id}} data-product-name="{{inventory.product.name}}" data-toggle="modal" data-target="#update-inventory-modal">
    <th scope="row">{{inventory.id}}</th>
    <td>{{inventory.product.name}}</td>
    <td>${{inventory.price}}</td>
  </tr>
{{/each}}
